.mainContainer {
  display: flex;
  margin-top:60px;
  width:100%;
  flex-flow: row wrap;
}

.hidden {
  display: none; 
}

.context-menuC {
	background-color: white;
	position: absolute;
	z-index: 999;
}
